body {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: $Light-gray;
  align-items: center;
  justify-content: center;
}

.App {
  width: 18rem;
  height: 28rem;
  background-color: $White;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
}
img {
  height: 100%;
  border-radius: 0.5rem;
}
.img {
  padding: 1rem;
  overflow: hidden;
  width: 18rem;
  height: 20rem;
  border-radius: 0.5rem;
}

h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 700;
  color: $Dark-blue;
  padding: 0 0.5rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
  color: $Grayish-blue;
  margin: 0.5rem;
  padding: 1rem;
}
