@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

// ## Colors
$White: hsl(0, 0%, 100%);
$Light-gray: hsl(212, 45%, 89%);
$Grayish-blue: hsl(220, 15%, 55%);
$Dark-blue: hsl(218, 44%, 22%);

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: "Outfit", sans-serif;
}

html {
  font-size: 15px;
}

body {
  width: 100vw;
  height: 100vh;
}
